<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
	<test name="Tests Grouping">
		<groups>
			<run>
				<include name="Functional"></include>
			</run>
		</groups>
		<classes>
			<class name="rough.TestngPriorityDemo"></class>
		</classes>
	</test>
	<test name="LoginTest">
		<classes>
			<class name="tests.loginTest"></class>
		</classes>
	</test>
	<test name="Amazon LoginTest">
		<classes>
			<class name="tests.AmazonLoginTest"></class>
		</classes>
	</test>
</suite>